{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h1>Bienvenue !</h1>
            </div>
        </div>
    </div>
{% endblock %}
